<button
  [attr.type]="type"
  [attr.aria-label]="resolvedIconOnly ? ariaLabel || null : null"
  [ngClass]="['ids-button', variantClass, size, resolvedIconOnly ? 'icon-only' : '', loading ? 'loading' : '']"
  [disabled]="disabled || loading"
  (click)="onClick($event)"
>
  @if (loading) {
    <span class="spinner" aria-hidden="true"></span>
  }
  @if (hasLeadingIcon) {
    <span
      class="icon-slot"
      [class.visually-hidden]="loading && resolvedIconOnly"
      aria-hidden="true"
    >
      <ng-content select="ids-icon" />
    </span>
  }
  @if (!resolvedIconOnly) {
    <span class="label" [class.label-hidden]="loading">
      <ng-content />
    </span>
  }
</button>
