<button
  [attr.type]="type"
  [ngClass]="['ids-button', variantClass, size, resolvedIconOnly ? 'icon-only' : '', loading ? 'loading' : '']"
  [disabled]="disabled || loading"
  (click)="onClick($event)"
>
  @if (loading) {
    <span class="spinner" aria-hidden="true"></span>
  }
  @if (resolvedIconOnly) {
    @if (showIcon && iconUrl) {
      <span class="icon-slot" [class.visually-hidden]="loading" aria-hidden="true">
        <span class="icon-mask" [style.mask-image]="'url(' + iconUrl + ')'"></span>
      </span>
    }
  } @else {
    @if (showIcon && iconUrl) {
      <span class="icon-slot" aria-hidden="true">
        <span class="icon-mask" [style.mask-image]="'url(' + iconUrl + ')'"></span>
      </span>
    }
    <span [class.label-hidden]="loading">{{ label }}</span>
  }
</button>
