.helper {
  margin: var(--spacing-space-4) 0 0;
  font-size: var(--font-size-body-2);
  line-height: var(--font-line-height-line-height-20);
  color: var(--color-text-gray-neutral);
  font-weight: 400;
}
