.wrapper {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-space-8);
  cursor: pointer;
  min-height: 36px;
}

.wrapper:has(.root[data-disabled]) {
  cursor: not-allowed;
}

.root {
  width: 2rem;
  height: 1rem;
  box-sizing: content-box;
  border-radius: 999px;
  background: var(--color-background-gray-neutral-darker);
  border: var(--border-width-border-1) solid var(--color-border-gray-neutral-base);
  padding: 0;
  cursor: inherit;
  transition: background 150ms ease;
  outline: none;
  flex-shrink: 0;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.root:focus-visible {
  outline: none;
}

.root:focus-visible::after {
  content: "";
  position: absolute;
  inset: -2px;
  border: var(--border-width-border-1) solid var(--color-border-brand-base);
  border-radius: 20px;
  pointer-events: none;
}

.root[data-checked] {
  background: var(--color-background-brand-base);
  border-color: var(--color-border-brand-base);
}

.root:hover:not([data-disabled]):not([data-checked]) {
  background: var(--color-background-gray-neutral-dark);
  border-color: var(--color-border-gray-neutral-strong);
}

.root[data-checked]:hover:not([data-disabled]) {
  background: var(--color-background-brand-strong);
  border-color: var(--color-border-brand-strong);
}

.root[data-disabled] {
  background: var(--color-background-gray-light);
  border-color: var(--color-border-gray-disabled);
}

.thumb {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--color-background-surface-component);
  border: var(--border-width-border-1) solid var(--color-border-gray-neutral-base);
  transition: transform 150ms ease;
  box-sizing: border-box;
}

.root[data-checked] .thumb {
  transform: translateX(1rem);
}

.root[data-disabled][data-checked] .thumb {
  background: var(--color-background-surface-component);
  border-color: var(--color-border-gray-disabled);
}

.root[data-disabled]:not([data-checked]) .thumb {
  border-color: var(--color-border-gray-disabled);
}

.formLabel {
  color: var(--color-text-gray-neutral-strong);
  font-size: var(--font-size-body-2);
  line-height: var(--font-line-height-line-height-20);
  user-select: none;
}

.required {
  margin-left: 2px;
}

.stateText {
  color: var(--color-text-gray-neutral);
  font-size: var(--font-size-body-2);
  line-height: 16px;
  user-select: none;
}

.stateTextDisabled {
  color: var(--color-text-gray-disabled);
  font-size: var(--font-size-body-2);
  line-height: 16px;
  user-select: none;
}
