<dialog
  #dialogRef
  class="ids-modal"
  role="dialog"
  aria-modal="true"
  [attr.aria-labelledby]="titleId"
  [attr.aria-describedby]="ariaDescribedBy"
  (cancel)="onDialogCancel($event)"
  (close)="onDialogClose()"
>
  <div [class]="surfaceClass">
    <header class="ids-modal__header">
      <div class="ids-modal__header-left">
        @if (showSeverityIcon) {
          <span class="ids-modal__severity-icon" aria-hidden="true">
            <ids-icon [shapeName]="severityIconSlug" [size]="24" />
          </span>
        }

        <ng-content select="ids-modal-title" />

        @if (!hasTitleSlot) {
          <h2 [id]="titleId" class="ids-modal__title">{{ title }}</h2>
        }
      </div>

      @if (closable) {
        <button
          type="button"
          class="ids-modal__close"
          aria-label="Close"
          (click)="closeModal()"
        >
          <ids-icon shapeName="shape-x" [size]="16" />
        </button>
      }
    </header>

    <ng-content select="ids-modal-body" />

    @if (!hasBodySlot) {
      @if (showLegacyDescription) {
        <p [id]="descriptionId" class="ids-modal__description">{{ description }}</p>
      }

      <div
        #legacyContentRef
        class="ids-modal__content"
        [class.ids-modal__content--scrollable]="bodyScrollable"
        [class.ids-modal__content--hidden]="!showLegacyContentRegion"
        [class.ids-modal__content--with-tabs]="showTabs"
        (scroll)="onContentScroll()"
      >
        @if (showTabs) {
          <nav class="ids-modal__tabs" aria-label="Modal pages">
            @for (page of pages; track page.id) {
              <button
                type="button"
                class="ids-modal__tab"
                [class.ids-modal__tab--active]="isPageActive(page.id)"
                [attr.aria-selected]="isPageActive(page.id)"
                role="tab"
                (click)="selectPage(page.id)"
              >
                {{ page.label }}
              </button>
            }
          </nav>
          <div class="ids-modal__page-panel" role="tabpanel">
            {{ activePageContent }}
          </div>
        } @else {
          <ng-content />
        }
      </div>
    }

    @if (showScrollShadow) {
      <div class="ids-modal__scroll-shadow" aria-hidden="true"></div>
    }

    <ng-content select="ids-modal-footer" />

    @if (!hasFooterSlot) {
      <footer
        class="ids-modal__footer"
        [class.ids-modal__footer--bordered]="showFooterBorder"
      >
        @if (footerCheckbox) {
          <ids-checkbox [label]="footerCheckboxLabel" [showLabel]="true" />
        }

        <div class="ids-modal__actions">
          @if (showTertiaryAction) {
            <ids-button
              variant="tertiary"
              size="lg"
              [disabled]="!enableTertiaryAction"
              (clicked)="onTertiaryClick()"
            >
              {{ tertiaryActionLabel }}
            </ids-button>
          }
          <ids-button
            [variant]="primaryButtonVariant"
            size="lg"
            [disabled]="!enablePrimaryAction"
            (clicked)="onPrimaryClick()"
          >
            {{ primaryActionLabel }}
          </ids-button>
        </div>
      </footer>
    }
  </div>
</dialog>
